#marketAna{background-color:#fff;margin:10px;padding-bottom:30px}
#marketMap{background:url('../Images/Slices/MarketMenuBg.gif') top left repeat-x;height:35px;margin-bottom:15px;width:900px}
#marketMesaj{width:863px}
#odemeTbl{border:1px solid #DFDFDF;width:100%}
#tblSepet{border-left:1px solid #d9dada;border-right:1px solid #d9dada;margin-top:15px;width:100%}
.AlternatingRowStyle{background-color:#fafafa;border-bottom:1px solid #eee;border-top:1px solid #eee;color:#292929;font-family:Verdana;font-size:12px;height:30px}
.BaslikDiv{background:#e5e5e5 url('../Admin/images/tabUstBg.gif') top left repeat-x;border:1px solid #ccc;height:25px;padding-left:15px;padding-top:15px}
.Form{border:1px solid #d9dada;color:#000;font-size:12px;height:23px;margin:5px 0;width:300px}
.FormBilgi{color:#292929;font-size:12px;padding:10px 5px 10px 10px;width:195px}
.HeaderStyle{background-color:#f2f3f4;border-bottom:1px solid #d9dada;border-top:1px solid #d9dada;color:#292929;font-size:12px;height:35px}
.OdemeMenu{background-color:#d5ebf5;border:1px solid #a3dbf4;border-bottom:none;color:#222;display:inline;float:left;font-weight:700;height:15px;margin-right:2px;padding:12px 15px 5px}
.RowStyle{background-color:#fafafa;color:#1D1D1D;font-family:Verdana;font-size:12px;height:30px}
.RowStyle:hover,.AlternatingRowStyle:hover{background-color:#d5ebf5}
.aktif{background-color:#fae4ea;border:1px solid #f0c8d3;border-bottom:none}
.bankaAdi{background-color:#fafafa;border-bottom:1px solid #d9dada;color:#069;font-size:13px;font-weight:700;height:30px;padding-left:9px;padding-top:10px}
.bankaHesaplari a,.bankaHesaplari a:visited{color:#292929;outline:none;text-decoration:none}
.bankaHesaplari a:hover{color:#069}
.bankaHesaplari dd{position:relative}
.bankaHesaplari dd ul{background:#eee none repeat scroll 0 0;border:1px solid #cdcdcd;border-top:none;color:#292929;display:none;left:0;line-height:18px;list-style:none;padding:0;position:absolute;width:682px}
.bankaHesaplari dd ul li a{border-bottom:1px solid #FFF;display:block;height:25px;padding:10px 2px 2px 10px}
.bankaHesaplari dd ul li a:hover{background-color:#FFF}
.bankaHesaplari dd,.bankaHesaplari dt,.bankaHesaplari ul{margin:0;padding:0}
.bankaHesaplari dt a{background:#efefe9 url(../Images/adresOk.gif) no-repeat scroll right;border:1px solid #cdcdcd;border-right:none;display:block;height:28px;padding-left:10px;padding-right:20px;padding-top:8px;width:652px}
.bankaHesaplari dt a span{cursor:pointer;display:block;padding:3px 4px 4px}
.bankaHesaplari dt a:hover{background-color:#fff}
.bedava{text-decoration:line-through}
.btn{border:1px solid #12c2db;color:#FFF;cursor:pointer;padding:5px 15px}
.btnAlisverisDevam{background-color:#fff;display:inline;float:left;height:61px;padding-left:10px;padding-top:30px}
.btnSatinAl{background-color:#fff;display:inline;float:right;height:61px;padding-right:10px;padding-top:30px;text-align:right}
.duzenle{background:#00c2dd url('../Images/Slices/btnDuzenle.gif') top left repeat-x}
.goz{display:inline;float:left;font-weight:700;width:30px}
.goz1{display:inline;float:left;font-weight:700;width:40px}
.gozDuz{display:inline;float:left;width:30px}
.kargolar{display:inline;float:left;height:50px;width:200px}
.marketLink{background:url('../Images/icons/MarketOk.gif') right center no-repeat;border-right:1px solid #fff;color:#FFF;display:inline;float:left;font-size:14px;padding:10px 35px 8px 20px}
.odemeHesap1{border-bottom:1px solid #cdcdcd;border-top:1px solid #cdcdcd;display:inline;float:left;padding-bottom:11px;padding-left:15px;padding-top:11px;width:200px}
.odemeHesap2{display:inline;float:left}
.on{background:#dd003e url('../Images/Slices/MarketAktifBg.gif') top left repeat-x}
.orta{text-align:left;vertical-align:middle}
.ortaResim{text-align:center;vertical-align:middle}
.ortaSil{padding-right:20px;vertical-align:middle}
.puan{background:#fae4ea url(../Admin/images/icons/alert.png) no-repeat 7px 5px;border:1px solid #f0c8d3;color:#665252;margin:15px 10px;padding:7px 5px 5px 30px;width:400px}
.puanAktiv{background:#d5ffcf url(../Admin/images/icons/tick_circle.png) no-repeat 7px 5px;border:1px solid #9adf8f;color:#556652}
.sepetBos{background-color:#f2f3f4;border:1px solid #d9dada;height:150px}
.sepetResim{padding:10px;width:70px;  margin-top:5px; }
.sil{background:#e5e5e5 url('../Images/Slices/btnSil.gif') top left repeat-x;border-color:#2497ec}
.sil:hover,.duzenle:hover,.OdemeMenu:hover{text-decoration:underline}
.siparisBaslik{background-color:#f2f3f4;border-bottom:1px solid #d9dada;border-top:1px solid #d9dada;color:#525252;font-size:13px;font-weight:700;height:25px;padding-left:15px;padding-top:10px}
.siparisBilgi{background-color:#fafafa;color:#525252;font-size:12px;height:100px;line-height:20px;padding-left:15px;padding-top:15px}
.siparisTd{color:#069;padding-bottom:5px;padding-left:15px;padding-top:10px;width:150px}
.taksitFiyat{color:#292929;font-size:10px;padding-bottom:5px;padding-top:6px}
.taksitFiyatPesin{color:#d2063f;font-size:10px;font-weight:700;padding-bottom:5px;padding-top:6px}
.taksitListeBaslik{border-bottom:1px solid #d9dada;color:#292929;font-size:13px;font-weight:700;height:20px;padding-top:10px;width:120px}
.taksitSatirBg{background-color:#FFF;border-bottom:1px solid #d9dada}
.taksitSatirBgAlter{background-color:#edeeef;border-bottom:1px solid #d9dada}
.taksitTablo{border:1px solid #d9dada;margin:20px 0;width:300px}
.taksitaktiv{background-color:#d5ffcf;border-bottom:1px solid #9adf8f;color:#556652}
.taksitler{color:#069;font-size:10px;padding-bottom:5px;padding-left:10px;padding-top:6px;width:50px}

.toplamBilgi
{
    background-color:#f2f3f4;
    border-bottom:1px solid #fff;
    color:#292929;
    height:30px;
    padding-right:20px;
    text-align:right;
    vertical-align:middle;
    width:775px
 }
.toplamFiyat{background-color:#f2f3f4;border-bottom:1px solid #fff;color:#292929;height:30px;vertical-align:middle;width:190px}

.urunAdiLink{color:#069;display:block;font-size:12px}
form div small{display:block;font-weight:700;padding:10px 10px 5px 0}



.sepet-hediye
{
   width:290px; 
   min-height:45px;
   clear:both;
}

.hediyeTitle{ display:block; color:#d2063f; font-size:10px; font-weight:bold; }
.hediyeImg{ width:55px; border:1px solid #ef7899; }

.hediyeSol
{
   float:left;
   width:55px; 
   padding-bottom:3px;
}

.hediyeSag
{
    color:#d2063f;
    float:left;
    width:220px;
    padding-left:10px;
    font-size:11px;
}

.hediye-fiyat
{
text-decoration:line-through;    
}

#pnlTaksitler
{
 display:none;   
 }
 
 .beginRequest
    {
       background-color:#cbcbcb;
       position:absolute;
       width:301px; 
       height:63px; 
       padding-top:15px; 
       text-align:center; 
       border: 1px solid #aaa7a7;
       opacity:0.6;
       filter:alpha(opacity=60); /* For IE8 and earlier */  
    }
   
   .endRequest
   {
       display:none;
   }