.lof-main-item-desc{background:url(../images/Slices/bg_trans.png);bottom:50px;height:100px;left:0;padding:10px;position:absolute;width:350px;z-index:100px}
.lof-main-outer{height:100%;overflow:hidden;position:relative;width:900px;z-index:3px}
.lof-navigator-outer{color:#FFF;float:left;height:180px;overflow:hidden;position:relative;width:310px;z-index:100}
.lof-navigator-wapper{background:url(../images/Slices/transparent_bg.png) repeat;bottom:10px;padding:5px 0;position:absolute;right:10px}
.lof-navigator-wapper .lof-next{background:url(../Images/arrow-l.png) no-repeat right center;float:left;margin-right:5px;text-indent:-999px}
.lof-navigator-wapper .lof-next,.lof-navigator-wapper .lof-previous{color:#FFF;cursor:pointer;display:block;height:30px;width:22px}
.lof-navigator-wapper .lof-previous{background:url(../Images/arrow-r.png) no-repeat left center;float:left;margin-left:5px;text-indent:-999px}
.lof-opacity li{float:inherit;left:0;position:absolute;top:0}
.lof-slidecontent{overflow:hidden;position:relative}
.lof-slidecontent .preload{background:#FFF;height:100%;left:0;position:absolute;text-align:center;top:0;width:100%;z-index:9998}
.lof-slidecontent .preload div{background:transparent url(../Images/load-indicator.gif) no-repeat scroll 50% 50%;height:100%;width:100%}
.lof-slidecontent a.readmore{color:#58B1EA;font-size:95%}
.lof-slidecontent,.lof-slidecontent a{color:#FFF}
ul.lof-main-wapper{background:transparent url(../Images/load-indicator.gif) no-repeat scroll 50% 50%;margin:0;overflow:hidden;padding:0;position:absolute}
ul.lof-main-wapper li{float:left;margin:0;overflow:hidden;padding:0;position:relative}
ul.lof-main-wapper li img{padding:0}


ul.lof-navigator{margin:0;padding:0;position:absolute;top:0;width:100%}
ul.lof-navigator li{cursor:pointer;display:block;float:left;list-style:none;margin-left:0;overflow:hidden;padding:0;text-align:center}
ul.lof-navigator li img{border:#3299e2 solid 2px}
ul.lof-navigator li.active img,ul.lof-navigator li:hover img{border:#76b6e3 solid 2px}


/* item navigator */
.lof-navigator-wapper {
	position:absolute;
	bottom:10px;
	right:10px;
	background:#000;
	padding:5px 15px;
	-moz-border-radius:5px 5px 5px 5px;

}
.lof-navigator-outer{
	position:relative;
	z-index:100;
	height:180px;
	width:310px;
	overflow:hidden;
	color:#FFF;
	float:left
}
ul.lof-navigator{
	top:0;
	padding:0;
	margin:0;
	position:absolute;
	width:100%;
}
ul.lof-navigator li{
	cursor:hand; 
	cursor:pointer;
	list-style:none;
	padding:0;
	margin-left:0px;
	overflow:hidden;
	float:left;
	display:block;
	text-align:center;
	
}
ul.lof-navigator li.active , ul.lof-navigator li:hover  {
	background:#FFF;
	color:#000;
	display:block;
}