html{font-size:100%;height:100%;margin-bottom:1px;overflow-y:scroll !important;}
body{text-align:center;font-family:Verdana, Geneva, sans-serif;font-variant:normal;font-size:12px;background:url('../Images/ZeminBg.png') fixed repeat-x bottom;z-index:0;margin:0;padding:0;}
.line{display:inline;float:left;}
#anaDiv{text-align:left;width:1000px;margin-right:auto;margin-left:auto;height:100%;background:url(../Images/Slices/anaDivBg.png) repeat-y left;margin-bottom:10px;padding:0;}
#anaIcerik{width:920px;background-color:#fff;margin:0 40px;}
#ust1{width:570px;float:left;display:inline;background:#00c2dd url(../Images/Slices/ust1Bg.gif) no-repeat right bottom;padding:7px 10px;}
#ust2{width:320px;float:right;display:inline;height:45px;margin-right:10px;text-align:right;padding-top:10px;}
#ust3{width:580px;float:left;display:inline;height:95px;margin-left:10px;padding-top:15px;}
#ust4{width:240px;float:right;display:inline;height:50px;padding-left:80px;margin-right:10px;padding-top:10px;}
.clear{clear:both;}
#menuDiv{clear:both;width:900px;height:40px;margin-left:10px;margin-bottom:2px;}
#logo1{float:left;display:inline;}
#logo2{float:left;display:inline;padding-top:10px;}
.icerikKenar{background-color:#bebdbd;width:650px;margin:10px 0 0;padding:1px;}
.icerik{width:650px;background-color:#fff;height:100%;}
#login{display:inline;float:left;width:278px;background-color:#bebdbd;margin-left:10px;padding:1px;}
#loginIc{width:278px;background-color:#fff;height:100%;}
#kayit{display:inline;float:left;background-color:#bebdbd;margin-left:6px;width:610px;padding:1px;}
#kayitIc{width:610px;background-color:#fff;height:100%;}
#gunDis{width:278px;height:250px;float:left;display:inline;background-color:#bebdbd;margin-left:10px;margin-bottom:5px;padding:1px;}
#gunIc{width:278px;background-color:#fff;height:250px;}
#banner{width:613px;height:250px;float:right;display:inline;margin-right:10px;margin-bottom:5px;border:1px solid #bebdbd;overflow:hidden;}
#solPanel{margin-left:10px;width:190px;float:left;display:inline;}

#mesaj-sgk
{
height:65px;
width:496px;
margin:0 5px;
margin-bottom:5px;
padding:5px;
background:#dd003e url(../Images/Slices/uyariBG.jpg) repeat-x 5px 3px;
}
#mesaj-sgk-1{ margin-left:10px;  display:inline; float:left; width:33px}
#mesaj-sgk-2{ display:inline; float:left; width:450px}


#mesaj-sgk span
{
color:White;   
font-size:14px;
line-height:17px;
font-family:Times New Roman;
}

#ortaDis-0{width:518px;float:left;display:inline}

#ortaDis{width:506px;float:left;display:inline;background-color:#bebdbd;margin:0 5px;padding:1px;}

#ortaIc{width:506px;background-color:#fff;height:100%;}
#ortaSag{width:703px;float:left;display:inline;background-color:#bebdbd;margin:0 5px;padding:1px;}
#ortaSagIc{width:703px;background-color:#FFF;height:100%;}
#ortaTam{width:898px;background-color:#bebdbd;margin:0 10px;padding:1px;}
#ortaTamIc{width:898px;background-color:#FFF;height:100%;}
#sagPanel{margin-right:10px;width:190px;float:left;display:inline;}
.altLink{width:880px;height:80px;background-color:#c4c4c4;margin:10px;padding:20px 10px;}
#altLink1{width:440px;float:left;display:inline;}
#altLink2{width:180px;float:left;display:inline;background:url(../Images/MusteriHizmetleri.gif) no-repeat left;height:60px;}
#altLink3{width:250px;float:left;display:inline;}
#altCopyrihgt{width:900px;height:55px;margin:5px 10px;}
.copy1{width:600px;}
.copy2{width:300px;text-align:right;padding-top:20px;}
#aramaTxtDiv{margin-top:10px;float:left;display:inline;padding-left:30px;width:173px;}
#txtAramaForm{width:151px;background-image:url(../images/Slices/AramaBg.jpg);background-repeat:no-repeat;padding-left:20px;height:16px;border:1px solid #9ad0e7;margin:0;}
#aramaBtnDiv{margin-top:10px;float:left;display:inline;width:30px;}
#facebookDiv{padding-top:5px;margin-bottom:10px;}
#mailTxtDiv{float:left;display:inline;width:176px;}
#mailBtnDiv{float:left;display:inline;width:50px;padding-top:3px;}
#txtMail{width:170px;padding-left:5px;height:16px;background-color:#717171;border-left:1px solid #4c4c4c;border-bottom:1px solid #4c4c4c;border-top:1px solid #4c4c4c;border-right:1px solid #717171;color:#a9a9a9;}
#hlMail{color:#5f5f5f;background-color:#949494;border:1px solid #6f6f6f;font-size:12px;cursor:pointer;margin:0;padding:2px 15px;}
#btnCikis{float:right;}

#pnlKampanya
{
   top:140px;
   position:fixed; 
   background-color:#d1053e;
   display:none;
}

#pnlKampanya #imgHediyeKampanya
{
  display:block;
}

#pnlKampanya #close
{

text-align:right;
padding-right:2px;
padding-bottom:2px;

right:-10px;
}

#pnlKampanya #close a
{
font-size:8px;
font-weight:bold;
color:#fff;
}