

#urunDetayDiv
{
   margin:10px; 
}


#urunGaleri {
float:left;
display:inline;
width:290px;
height:375px;
margin-right:5px;
margin-bottom:5px;
border:#d9dada solid 1px;
background-color:#fff;
}

#urunBilgi {
float:left;
display:inline;
width:600px;
height:375px;
border:#d9dada solid 1px;
background-color:#fff;
margin-bottom:5px;
}


#secenekDiv
{
    clear:both;
    width:878px;
    padding:10px;
    height:100%;
    border:#d9dada solid 1px;
    background-color:#fff;
}


#secenek1
{
float:left;
display:inline;
margin-right:20px;

}

#secenek1 td
{
 padding:0px;   
}

#secenek2
{
float:left;
display:inline;
padding-top:10px;
}

.imgUD {
margin:3px 0px;
border:none;
cursor:pointer;
}

#urunButton {
float:left;
display:inline;
width:150px;
border:#d9dada solid 1px;
}

.urunYorumAd {
width:673px;
height:35px;
float:left;
display:inline;
padding-left:15px;
padding-top:15px;
border-bottom:1px solid #d9dada;
background-color:#fafafa;
color:#069;
}

.urunYorumTarih {
width:200px;
height:35px;
float:right;
display:inline;
text-align:right;
padding-top:15px;
padding-right:10px;
border-bottom:1px solid #d9dada;
background-color:#fafafa;
color:#069;
}

.urunYorumYazi {
width:864px;
float:left;
display:inline;
overflow:hidden;
height:auto;
border-bottom:1px solid #d9dada;
line-height:25px;
color:#525252;
padding:15px 15px 25px;
}

.lblUrunYorumBilgi {
padding-top:40px;
margin-left:15px;
margin-bottom:40px;
font-size:14px;
color:#069;
}


.taksitDiv {
float:left;
display:inline;
width:245px;
margin:20px 6px;
border:1px solid #d9dada;
overflow:hidden;
}

.taksitListeBaslik {
padding-top:10px;
height:20px;
color:#292929;
font-size:12px;
font-weight:bold;
}

.taksitler {
padding-top:10px;
padding-left:10px;
padding-bottom:6px;
font-size:10px;
color:#069;
width:50px;

}

.taksitFiyat 
{
padding-top:6px;
padding-bottom:5px;
font-size:10px;
color:#292929;
}

.taksitSatirBg {
border-bottom:1px solid #d9dada;
background-color:White;
}

.taksitSatirBgAlter {
border-bottom:1px solid #d9dada;
background-color:#edeeef;
}

.taksitFiyatPesin {
padding-top:6px;
padding-bottom:5px;
font-size:10px;
color:#f14600;
font-weight:bold;

}


.ortaResimDiv
{
 text-align:center;
 width:250px;
 padding-left:15px;
}

.imgOrtala
{
  border:none; 
}

.resimkucukDiv {
margin:0 8px;
padding:5px 0 5px;
}

.kucukResim {
margin-left:5px;
border:1px solid #d9dada;
padding:2px;
}

.mercekDiv {
height:30px;
padding-top:10px;
margin-left:15px;
margin-right:10px;
margin-bottom:10px;
border-bottom:1px solid #d9dada;
text-align:right;
}

.resimMercek {
color:#5f5f5f;
font-size:12px;
padding-bottom:10px;
}

.urunDetay
{
   margin-bottom:20px;
   padding:20px 10px;
}

.urunDetay ul
{
   list-style-type:circle;
   margin-left:40px;
   font-family:Verdana;
   line-height:18px;
   color:#292929;
}

.urunDetay p
{
   padding:15px 10px;
   font-size:12px;
   line-height:18px;
   color:#292929;
}

.urunDetay h1
{
   padding:15px 10px;
   font-size:13px;
   color:#069;
}

.UDaciklama {
font-size:12px;
height:30px;
color:#525252;
line-height:18px;
border-bottom:1px solid #eee;
padding:10px 10px 15px;
}

.urunDetayBilgi {
width:180px;
height:20px;
color:#069;
padding-left:10px;
padding-top:15px;
border-bottom:1px solid #eee;
}

.urunDetayBilgi2 {
width:280px;
height:20px;
padding-left:10px;
padding-top:15px;
color:#292929;
font-size:12px;
border-bottom:1px solid #eee;
}

.standart {
width:20px;
height:13px;
cursor:pointer;
background-repeat:no-repeat;
}


/*
.dolu {
background-image:url(../images/FilledStar.png);
}

.bos {
background-image:url(../images/icons/EmptyStar.png);
}

.bekle {
background-image:url(../images/icons/bekle.gif);
}
*/


.urunDetayBaslik {
height:30px;
border-bottom:1px solid #eee;
margin:15px 0 5px;
}

.urunBaslik {
font-size:13px;
font-weight:700;
color:#525252;
}

.ratingUrun {
padding-left:10px;
height:15px;
padding-top:10px;
border-bottom:1px solid #eee;
}

.goruntu {
text-align:right;
padding-right:10px;
color:#c1c7d1;
}



/* resim galaeri */

.cloud-zoom-lens {
border:4px solid #d9dada;
background-color:#fff;
cursor:move;
position:absolute;

}


.cloud-zoom-big 
{
border:1px solid #d9dada;
overflow:hidden;
}

.cloud-zoom-loading {
background-image:url(../images/loading.gif);
background-repeat:no-repeat;
height:31px;
width:31px;
}


/****************************** FİYAT CLASS ******************************/

.fiyat { 
 font-size:12px;
 color:#383838; 
 padding-top:15px; 
}

.fiyatIndirim {
color:#292929;
text-decoration:line-through;
font-size:12px;
}

.sepetBosluk {
margin-top:20px;
}

.UDsatir:hover,#ayrinti table tr:hover {
background-color:#d5ebf5;
}


.UDtavsiyeImg {
width:60px;
margin:5px;
}

.UDsatir {
border-bottom:1px solid #eee;
border-left:1px solid #d9dada;
border-right:1px solid #d9dada;
background-color:#fff;
}

.UDtavsiyeTD {
padding-bottom:20px;
float:left;
font-size:13px;
color:#069;
}

.UDtavsiyetdBosluk {
padding-bottom:20px;
float:left;
}

#pnlRenkliLens img
{
cursor:pointer;
display:block;
margin-bottom:2px;
}

.formBilgi {
padding-left:10px;
padding-top:10px;
width:180px;
color:#4c4c4c;
}



.mevcutSayfa {
height:auto;
width:888px;
padding:10px 5px;
border:#d9dada solid 1px;
margin:10px 0px;
}

.digerMarka
{
   float:left;
   display:inline;
   padding:6px 0px;
   margin-left:10px;
   width:130px;
}

.digerMarka a
{
   font-size:11px;
   color:#069;
}

.digerMarka a:hover
{
   text-decoration:underline;
}


.digerMarka span
{
   font-size:10px;
   font-weight:bold;
}



/* Tool tip */
        .bubbleInfo {
            position:relative;
            top: 0px;
            left: 0px;
      
        }


        /* Bubble pop-up */

        .popup {
                position:absolute;
                display: none;
                z-index: 9999;
                border-collapse: collapse;
        }
        
        .popup td.corner {
                height: 15px;
                width: 19px;
        }
        .popup td.top { background-image: url(../Images/Slices/bubble-2.gif); }
        .popup td.left { background-image: url(../Images/Slices/bubble-4.gif); }
        .popup td.right { background-image: url(../Images/Slices/bubble-5.gif); }
        .popup td.bottom { background-image: url(../Images/Slices/bubble-7.gif); text-align: center;}
        .popup td.bottom img { display: block; margin: 0 auto; }
        .popup td.topleft { background-image: url(../Images/Slices/bubble-1.gif); }
        .popup td.bottomright { background-image: url(../Images/Slices/bubble-8.gif); }
        .popup td.topright { background-image: url(../Images/Slices/bubble-3.gif); }
        .popup td.bottomleft { background-image: url(../Images/Slices/bubble-6.gif); }
        
        .popup table.popup-contents {
                font-size: 12px;
                line-height: 1.2em;
                background-color: #fff;
                color: #666;
                }

        table.popup-contents th {
                text-align: right;
                text-transform: lowercase;
                
                }

        table.popup-contents td {
                text-align: left;
                }


        tr#release-notes td a {
                color: #333;
        }


        .kamBaslik
        {
            font-size:13px;
            color:#014F9A;
            font-weight:bold;
            padding-bottom:5px;
            border-bottom:1px solid #99ccff;
        }
        
        .kamResim
        {
        text-align:center;
   
        }
        .kamBilgi
        {  
        width:150px;
        padding-left:10px;
        }
        
        .kamFiyat
        {
           font-size:14px;
           text-decoration:line-through;
           color:#de003e; 
           font-weight:bold;
        }
        
        
        .seacenkImg
        {
        float:left;
        display:inline;    
        }
        
        .not
        {
        font-style:italic;
        font-size:11px;
        color:#afafaf;
        padding:5px 0;
        }
        
        .trigger
        {
         cursor:pointer; 
         text-decoration:underline;    
        }