
.HeaderStyle
{
	font-family:Verdana;
	font-size:12px;
	color:#222222;
	background-color:#CFCFCF;
	height:35px;
	padding-top:7px;
	padding-left:8px;
	text-align:left;
}


.HeaderStyleSiparis
{
	font-family:Verdana;
	font-size:12px;
	color:#222222;
	background-color:#e2e2e2;
	height:35px;
	padding-top:7px;
	padding-left:8px;
	text-align:left;
}

.AlternatingRowStyle
{
	font-family:Verdana;
	font-size:12px;
	color:#1D1D1D;
	background-color:#E2E2E2;
	height:30px;

}

.RowStyle:hover
{
	background-color:#fffbcc;
}

.charsLeft
{
 font-weight:bold;	
}
.RowStyle
{
	font-family:Verdana;
	font-size:12px;
	color:#1D1D1D;
	background-color:#F5F5F5;
	height:30px;
	
}

.RowStyle :hover
{
	background-color:#fffbcc;
}

.AlternatingRowStyle:hover
{
	background-color:#fffbcc;
}
.AlternatingRowStyleAra
{
	font-family:Verdana;
	font-size:12px;
	color:#1D1D1D;
	background-color:#CFCFCF;
	height:25px;
	text-transform:capitalize;
	border-bottom:1px dashed #666666; 
	
}
.RowStyleAra
{
	font-family:Verdana;
	font-size:12px;
	color:#1D1D1D;
	background-color:#e2e2e2;
	height:25px;
	text-transform:capitalize;
	border-bottom:1px dashed #666666; 
	
}

.RowStyle1
{
	font-family:Verdana;
	font-size:12px;
	color:#1D1D1D;
	text-decoration:none;
    font-weight:bold;
	
}

.RowStyle2
{
	font-family:Verdana;
	font-size:12px;
	color:#1D1D1D;
	text-decoration:none;

	
}

.PagerStyle
{
	font-family:Verdana;
	font-size:12px;
	color:#e2e2e2;
	background-color:#666666;
	height:25px;
	padding-top:7px;
	
}

#tema_kucuk_zemin
{
height:23px; width:500px;
text-align:right;
padding-top:7px;
	
}

.tema_k
{
width:20px;
height:20px;
margin-left:5px;
margin-right:5px;
float:right;
display:inline;
}

.tm_yesil_k
{
width:18px;
height:18px;
border:1px solid Green;
background-image:url(../images/yesil_kare_k.jpg);
-webkit-border-radius: 3px;  
-moz-border-radius: 3px; 
-khtml-border-radius: 3px;  
border-radius: 3px;
cursor:pointer;

}



.tm_yesil_k:hover
{
background-image:none;
background-color:#80D300;
}

.tm_kirmizi_k
{
width:18px;
height:18px;
border:1px solid #AC0000;
background-image:url(../images/kirmizi_kare_k.jpg);
	
-webkit-border-radius: 3px;  
-moz-border-radius: 3px; 
-khtml-border-radius: 3px;  
border-radius: 3px;
cursor:pointer;

}
.tm_kirmizi_k:hover
{
background-image:none;
background-color:#C6000C;
}

.tm_mavi_k
{
width:18px;
height:18px;
border:1px solid #016AAC;
background-image:url(../images/mavi_kare_k.jpg);
-webkit-border-radius: 3px;  
-moz-border-radius: 3px; 
-khtml-border-radius: 3px;  
border-radius: 3px;
cursor:pointer;

}

.tm_mavi_k:hover
{
background-image:none;
background-color:#008BDF;
}
.tm_leylak_k
{
width:18px;
height:18px;
border:1px solid #8e1087;
background-image:url(../images/leylak_kare_k.jpg);
-webkit-border-radius: 3px;  
-moz-border-radius: 3px; 
-khtml-border-radius: 3px;  
border-radius: 3px;
cursor:pointer;

}
.tm_leylak_k:hover
{
background-image:none;
background-color:#d12bcf;
}
.tm_turuncu_k
{
width:18px;
height:18px;
border:1px solid #bd6200;
background-image:url(../images/turuncu_kare_k.jpg);
-webkit-border-radius: 3px;  
-moz-border-radius: 3px; 
-khtml-border-radius: 3px;  
border-radius: 3px;
cursor:pointer;

}
.tm_turuncu_k:hover
{
background-image:none;
background-color:#f07b05;
}

.tm_giri_k
{
width:18px;
height:18px;
border:1px solid #747679;
background-image:url(../images/kahve_kare_k.jpg);
-webkit-border-radius: 3px;  
-moz-border-radius: 3px; 
-khtml-border-radius: 3px;  
border-radius: 3px;
cursor:pointer;

}
.tm_giri_k:hover
{
background-image:none;
background-color:#adacac;
}




.uyeBosluk
{

padding-top:8px;
	
}
.style2
{
width:200px;	
}

.urunImageDiv
{
	width:150px;
	text-align:center;
	border:solid 1px #cccccc;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:20px;
	

	}




.satirYukseklik
{
line-height:20px;
}

.anketGrig
{
padding:0px;
margin:0px;	
}

        .standart 
        {     
        width:20px;
        height:13px;
        cursor:pointer;
        background-repeat:no-repeat;                   
        }

        .dolu 
        {
         background-image:url(../images/FilledStar.png);     
        }
        
        .bos 

        {
         background-image:url(../images/EmptyStar.png);                  
        }

        .bekle 
        {
         background-image:url(../images/bekle.gif);               
        }
        
        .siparisBaslik
        {
        height:15px;
        padding-bottom:10px;
        padding-left:10px;
        font-weight:bold;
        padding-top:10px;  
        background-color:#e2e2e2;    
        }
        
          .siparisBaslik1
        {
        height:15px;
        padding-bottom:10px;
        padding-left:10px;
        font-weight:bold;
        padding-top:10px;  
        background-color:#e2e2e2;    
        }
        .siparisTablo
        {
            border: 1px solid #e2e2e2;
            
            width:100%;
        }
          .siparisTablo1
        {
            border: 1px solid #e2e2e2;
            
            width:100%;
        }
          .siparisTablo2
        {
            border: 1px solid #e2e2e2;
            
            width:100%;
        }
        .siparisTd
        {
            width:180px; 
            color:#016AAC;
            font-size:12px;
            height:30px;
            padding-left:15px;
        }
        
         .siparisTdAlt
        {
            width:800px;
            text-align:right; 
            height:30px;
            border-bottom:1px solid #ececec;
        }
        
          .siparisTdAltFiyat
        {
            padding-left:15px;
            height:30px;
            border-bottom:1px solid #ececec;
            
        }
        
        .baslikBilgi
        {
            float:left;
            display:inline;
          
        }
        
        .Tarih
        {
            float:right;
            display:inline;
            padding-right:20px;
            color:#016AAC;
            font-weight:normal;
            font-size:12px;
        }
        
        
        .ckbEposta
        {
            
           color:#016AAC;
           font-size:12px; 
        }
        
        .xmlRapor
        {
            
        height:50px;
        text-align:right;  
        padding-top:10px;  
        }
        
        .listelemeBilgisi {
height:20px;
padding-top:10px;
margin-left:5px;
margin-right:10px;
margin-top:10px;
border-top:#eee solid 1px;
font-size:12px;
color:#069;
}

