    body {
    background: url('../images/loginBg.jpg') top left repeat;
   font-family: Arial, Helvetica, sans-serif;
    }

    .ust {
    text-align:left;
    width:400px;
    letter-spacing:0.2em;
    height:50px;
    font-family: Helvetica, Arial, sans-serif;
    color: #222;
    font-weight: bold;
    border-bottom:1px dashed #222;
    font-size: 20px; padding: 7px 0 5px 15px;
    }

    .yazi {
    font-size:13px;
    color:#333;
    padding-left:5px;
    height:35px;

    }

    .tablo {
    border:1px solid #000;
    margin-top:150px;
    background: #f0f0f0 url('../images/bg-radial-gradient.gif') top right no-repeat;
    }

    .tablo_alt {
    border-left:1px solid #000;
    border-right:1px solid #000;
    background-color:#F5F5F5;
    }

    .mesaj {
    font-size:12px;
    color:red;
    padding-top:50px;
    padding-left:20px;
    }

    .mesaj1 {
    font-size:12px;
    color:red;
    }

    .hata {
    font-size:12px;
    color:red;
    padding-top:50px;
    padding-left:5px;
    }

    .form {
    width:260px;
    padding: 6px;
    font-size: 13px;
    background: #fff url('../images/bg-form-field.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
	color: #333;
    }
    .label {
     display: block;
     padding: 0 0 10px;
     font-weight: bold;
     }

    .style1 {
    font-size:13px;
    color:#333;
    padding-left:5px;
    height:35px;
    width:237px;
    }

    .beniHatirla {
    color:#FFF;
    font-size:13px;
    }

    .girisYazi {
    padding-left:19px;
    padding-bottom:5px;
    padding-top:10px;
    font-size:12px;
    color:#004E99;
    background-color:#F5F5F5;
    }

    .girisGif {
    padding-bottom:10px;
    background-color:#F5F5F5;
    border:none;
    }

    .buttonGiris {
    border:1px solid #016AAC;
    color:#FFF;
    font-size:12px;
    width:120px;
    background-image:url(../images/mavi.jpg);
    height:26px;
    cursor:pointer;
    padding-top:3px;
    }

    .buttonGiris:hover {
    text-decoration:underline;
    }

    .alt {
    height:33px;
    background-image:url(../images/mavi.jpg);
    padding-left:11px;
    color:#FFF;
    font-size:13px;
    text-align:left;
    }

    .alt_2 {
    height:25px;
    background-image:url(../images/mavi.jpg);
    text-align:right;
    color:#FFF;
    font-size:13px;
    }