
	body
{
	text-align:center;
	margin:0px;
	padding:0px;
	background-color:#1d1d1d;
	font-family:Verdana, Geneva, sans-serif;
	color: #1D1D1D;
	font-size:12px;

}
	
	#anaDiv
{
	text-align: left;
	width: 1000px;
	margin-top: 7px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height:100%;
}

#ust
{
	width: 1000px;
	height:auto;
	padding:0px;
	margin:0px;
	overflow: hidden;
	background-color:#F5F5F5;
	

	
}


#alt
{
	width: 1000px;
	height:27px;
	padding-top:12px;
	margin:0px;
	text-align:right;
	
}

#ustSol
{
	width:500px;
	height:105px;
	padding-top:30px;
	margin:0px;
	float:left;
	display:inline;
	background-color:#1d1d1d;

	
}

#ustSag
{
	width:500px;
	height:135px;
	float:left;
	
	display:inline;
	background-color:#1d1d1d;
}

.Ad
{
	color:#e2e2e2;
	font-size:30px;
	letter-spacing:2px;
	line-height:40px;
	
	
}
#Baslik
{
	width:940px;
	height:20px;
	margin-bottom:15px;
	color:#1d1d1d;
	font-size:14px;	
	padding-top:7px;

	margin-left:30px;
	margin-right:30px;
	letter-spacing:2px;
	border-bottom:1px dashed #666666;
	border-top:1px dashed #666666;
}
.AltBaslik
{
	color:#e2e2e2;
	font-size:11px;
	letter-spacing:1px;

}
.cikis
{
	margin-top:20px;
	color:#e2e2e2;
	font-size:11px;
	letter-spacing:1px;

}
#Copyright
{
	color:#9F9F9F;
	font-size:9px;	
}
#Icerik
{
	width:940px;
	padding-left:30px;
	padding-right:30px;
	height:auto;
	margin-bottom:15px;
}

.txtLabelTd
     {
	font-size: 12px;
	text-align:left;
	height:30px;
	} 
	
	.ortaTd
{
text-align:left; 
vertical-align:top;	
}

    .mesaj
     {
	font-size: 12px;
	color: red;
	padding-top:40px;
} 




.form
{
background-color:#F3F3F3;
color:#1d1d1d;
font-size:12px;
border:1px solid #C6C6C6;
padding-top:5px;
margin-bottom:8px;	
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
	margin-left: 0px;
}


.formResimSira
{
background-color:#F3F3F3;
color:#1d1d1d;
font-size:12px;
border:1px solid #C6C6C6;
padding-top:5px;
padding-left:15px;
margin-bottom:8px;	
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
	margin-left: 0px;
	height:18px;
	width:35px;
	
}
.formAra
{
background-color:#F3F3F3;
color:#016AAC;
font-size:12px;
border:1px solid #C6C6C6;
font-family:Verdana;
padding-top:5px;
padding-left:10px;
padding-bottom:3px;
margin-bottom:10px;	
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
}
.formYazi
{
	color:#1D1D1D;
	font-size:12px;	
}

.formNot
{
	color:#1D1D1D;
	font-size:10px;	
}
.mesaj
     {
	font-size: 12px;
	color: red;
} 


.mesajKategori
     {
	font-size: 12px;
	color: red;
	margin:10px 0px;
	padding-top:10px;
	padding-bottom:5px;
	height:10px;
} 

.form_zemin
{
margin-top:10px;
margin-bottom:30px;
width:870px;
padding-left:15px;
padding-right:55px;
padding-bottom:20px;
border:1px solid #C6C6C6;
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
}

.Mesaj_zemin
{
margin-top:10px;
margin-bottom:30px;
width:870px;
padding-left:15px;
padding-right:55px;
padding-bottom:30px;
padding-top:30px;
padding-bottom:20px;
border:1px solid #C6C6C6;
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
}
.tema_zemin
{
margin-top:10px;
margin-bottom:30px;
width:900px;
height:200px;
padding-top:50px;
padding-left:40px;
border:1px solid #C6C6C6;
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
}

.tema
{
width:100px;
height:100px;
margin-left:20px;
margin-right:20px;
float:left;
display:inline;
}

.tm_yesil
{
width:100px;
height:100px;
border:1px solid Green;
background-image:url(../images/yesil_kare.jpg);
margin-bottom:10px;	
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
cursor:pointer;
}



.tm_yesil:hover
{
background-image:none;
background-color:#80D300;
}

.tm_kirmizi
{
width:100px;
height:100px;
border:1px solid #AC0000;
background-image:url(../images/kirmizi_kare.jpg);
margin-bottom:10px;	
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
cursor:pointer;

}
.tm_kirmizi:hover
{
background-image:none;
background-color:#C6000C;
}

.tm_mavi
{
width:100px;
height:100px;
border:1px solid #016AAC;
background-image:url(../images/mavi_kare.jpg);
margin-bottom:10px;	
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
cursor:pointer;

}

.tm_mavi:hover
{
background-image:none;
background-color:#008BDF;
}
.tm_leylak
{
width:100px;
height:100px;
border:1px solid #8e1087;
background-image:url(../images/leylak_kare.jpg);
margin-bottom:10px;	
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
cursor:pointer;

}
.tm_leylak:hover
{
background-image:none;
background-color:#d12bcf;
}
.tm_turuncu
{
width:100px;
height:100px;
border:1px solid #bd6200;
background-image:url(../images/turuncu_kare.jpg);
margin-bottom:10px;	
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
cursor:pointer;
}
.tm_turuncu:hover
{
background-image:none;
background-color:#f07b05;
}

.tm_giri
{
width:100px;
height:100px;
border:1px solid #747679;
background-image:url(../images/kahve_kare.jpg);
margin-bottom:10px;	
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
cursor:pointer;
}
.tm_giri:hover
{
background-image:none;
background-color:#adacac;
}

.tema_baslik
{
letter-spacing:1px;
color:#1d1d1d;
font-size:14px;
}

.Mesaj_Ok
{
width:905px;
padding-left:35px;
height:40px;
background-color:#d5ffcf;
background-image:url(../images/mesaj_ok.jpg);
background-position:10px;
background-repeat:no-repeat;
border:1px solid #9adf8f;
margin-bottom:10px;
	
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
color:#484c47;
font-size:12px;
font-family:Verdana;
}


.Mesaj_No
{
width:905px;
padding-left:35px;
height:40px;
background-color:#ffcecf;
background-image:url(../images/mesaj_no.jpg);
background-position:10px;
background-repeat:no-repeat;
border:1px solid #df8f90;
margin-bottom:10px;	
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
color:#484c47;
font-size:12px;
font-family:Verdana;
}

.Mesaj_Sis
{
width:905px;
padding-left:35px;
padding-bottom:20px;
background-color:#fffbcc;
background-image:url(../images/mesaj_sis.jpg);
background-position:10px 4px;
background-repeat:no-repeat;
border:1px solid #e5db55;
margin-bottom:10px;	
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
color:#484c47;
font-size:12px;
font-family:Verdana;
}

.Mesaj_Info
{
width:905px;
padding-left:35px;
background-color:#dce3ff;
background-image:url(../images/mesaj_info.jpg);
background-position:10px 10px;
padding-bottom:7px;
background-repeat:no-repeat;
border:1px solid #a3b3ef;
margin-bottom:10px;
height:auto;	
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
color:#484c47;
font-size:12px;
font-family:Verdana;
}

.mesaj_clos
{
	text-align:right; 
	padding-right:5px;
	 padding-top:2px;
	 cursor:pointer;
}

.duzen
{
text-align:right;	
}
.orta
{
text-align:center;	
}



.sayfalama
{
border:solid 1px #cccccc;
text-decoration:none;
padding-bottom:5px;
padding-top:5px;
display:inline;
padding-left:8px;
padding-right:8px;  
width:25px;
text-align:center; 
margin:2px; 
color:#0F67A1;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
	
}

.infoResim
{
   font-size:11px;
   color:#a9aec1; 
    
}

.sayfa {
border:solid 1px #ccc;
text-decoration:none;
width:25px;
text-align:center;
color:#0F67A1;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
margin:1px;
padding:5px 8px;
}

.sayfa:hover {
border:solid 1px #0F67A1;
}

.sayfaAktif {
border:solid 1px #ccc;
background-color:Silver;
text-decoration:none;
width:25px;
text-align:center;
color:#0F67A1;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
margin:2px;
padding:5px 8px;
}

.sayfaPasif {
border:solid 1px #ccc;
text-decoration:none;
width:25px;
text-align:center;
color:#ccc;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
cursor:default;
margin:1px;
padding:5px 8px;
}

.pnlBankaDuzenle
{
    
padding-bottom:30px;    
}

.hataBilgi
{
font-size:12px;
color:#069;    
    
}

.mail1
{
  display:inline;
  float:left;
  height:30px;
  width:60px;  
    
}
.mail2
{
  display:inline;
  float:left;
  height:30px;
  width:200px;  
    
}
.mail3
{
  display:inline;
  float:left;
  height:30px;
  width:200px;  
    
}


.mail4
{
  display:inline;
  float:left;
  height:30px;
  padding-left:20px;
  width:450px; 
}
